body {
    /* .parallax */
    background-image: url("../assets/img/dark.jpg");
    background-attachment: fixed;
    /* el secreto del paralax */
    background-position: center;
    /* como va estar ubicado */
    background-repeat: no-repeat;
    /* si es necesario repetir la imagen */
    background-size: cover;
    /* tamaño de la imagen  */
    margin-bottom: 50px;
    /* propiedad de box modelin  */
}

* {
    font-family: 'Quintessential', cursive;
}

.imgFondo {
    background-image: url("../assets/img/fondotop.jpg");
    height: 200px;
    margin-top: -176px;
    background-position: center;
}

.tituloImg {
    text-align: center;
    color: goldenrod;
    padding-top: 82px;
}

nav {
    background-color: black;
    text-align: right;
    padding: 10px;
    padding-top: 20px;
    bottom: 154px;
    position: relative;
}

li {
    display: inline;
    padding: 20px;
}

a {
    color: silver;
    text-decoration: none;
}

.logo1 {
    grid-area: logo;
    position: relative;
    z-index: 1;
    bottom: 16px;
    margin-left: 11px;
    width: 150px;
    height: 130px;
}

h1 {
    color: silver;
}

h2 {
    color: goldenrod;
}

h3 {
    color: white;
}

main {
    text-align: center;
}

.oro {
    margin-top: 40px;
    padding-right: 320px;
}

.plata {
    margin-top: -210px;
    position: absolute;
    padding-left: 50px;
}

.onza {
    margin-top: -210px;
    position: absolute;
    padding-left: 30px;
}

.centenario {
    padding-right: 315px;
    margin-top: 20px;
}

.textOro {
    text-align: center;
    padding-right: 320px;
    text-decoration: overline;
    text-decoration-style: double;
}

.textCente {
    padding-right: 320px;
    text-decoration: overline;
    text-decoration-style: double;
}

.textMon {
    text-align: center;
    margin-bottom: 40px;
    text-decoration: overline;
    text-decoration-style: double;
}

.textDer {
    text-align: center;
    padding-left: 285px;
    margin-top: -40px;
    text-decoration: overline;
    text-decoration-style: double;
}

.textEfectivo {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: overline;
    text-decoration-style: double;
}

.imgEfectivo {
    text-align: center;
}

footer {
    grid-area: footer;
    text-align: center;
}

.navFooter {
    background-color: black;
    text-align: center;
    padding: 1px;
    bottom: 0px;
}

table {
    margin: auto;
    color: goldenrod;
}

.form {
    color: goldenrod;
}